<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EauClaire's</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body class="bodyStyle" background="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1536842016000/photosp/b8767173-2226-4638-9c05-3b488b02586f/stock-photo-beauty-scissors-background-beauty-care-haircut-barber-scissor-stylist-hairdresser-b8767173-2226-4638-9c05-3b488b02586f.jpg" style="background-size: 55rem;">
    <div class="container">
      <div class="jumbotron" style="opacity: 90%">
        @RenderBody()
      </div>
    </div>
  </body>
</html>