@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h3>Would you like to remove this Stylist?</h3>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to stylists", "Index")