@{
  Layout = "_Layout";
}

<h1>Welcome to EauClaire's Hair Salon</h1>
<p>@Html.ActionLink("See the list of stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Search by Stylist Specialty", "Index", "Specialty")</p>