@{
  Layout = "_Layout";
}

<h1>Welcome to EauClaire's Hair Salon</h1>
<p>@Html.ActionLink("See our stylists", "Index", "Stylists")</p>
@* <p>@Html.ActionLink("Search by Stylist Specialty", "Index", "Specialty")</p>  I want to get this functionality, but stretch goal*@