@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Are you sure you want to remove this client?</h2>
<br>
<h5>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h5>
@using(Html.BeginForm())
{
  <input type = "submit" value = "Delete" />
}
@Html.ActionLink("Back to List", "Index")